<h1>My Movie Lists</h1>

<%= link_to "Add a Movie List", new_list_path %>
<br>
<ul>
  <% @lists.each do |list| %>
    <%= cl_image_tag("cartoons.jpg", width: 400, height: 300, crop: :fill) %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
